
/*! FORMULARIO DE VALIDACIÓN */
.information-phase {
  max-width: 300px;
  max-height: 300px;
  padding: 5px;
}
.form-phase-container{
  padding: 5px;
  max-height: 300px;
  display: flex;
}
.form-validation-container{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  max-height: 300px;
}
.form-phase{
  height: 80%;
}

.label-form-container {
  height: 40px;
  display: flex;
  align-items: center;
}
.label-form-validation {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: start;
  padding-left: 5px;
}



